#####################################################################
#  Voron 2.4 R2 ‑‑ 350 mm build
#  Controller  : BigTreeTech Octopus V1 (STM32F446, 32 KiB bootloader)
#  Steppers    : TMC2209 (XY) | TMC2208 (Z0‑Z3)
#  Firmware    : Klipper 0.12  – generated 2025‑06‑20
# -------------------------------------------------------------------
#  Compile target:  STM32F446  |  32 KiB bootloader  |  12 MHz crystal
#####################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_3E002C001350565843333620-if00
restart_method: command

[mcu EBB]                          # SB2209 / TAP 2.0 tool‑board
serial: /dev/serial/by-id/usb-Klipper_rp2040_5044506110702A1C-if00

#####################################################################
#   Includes Section
#####################################################################

[include mainsail.cfg]
[include AFC/*.cfg]
[include stealthburner_leds.cfg]          # keep your SB LED config
[include clean_nozzle.cfg]
#[include sample-bigtreetech-ebb-sb-usb-v1.0.cfg]
[exclude_object]

#####################################################################
#   Printer Kinematics & Limits
#####################################################################
[printer]
kinematics: corexy
max_velocity: 350
max_accel: 4000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 5.0

[force_move]
enable_force_move: True

#####################################################################
#   STEP‑PER‑MOTOR SECTIONS
#   (XY = “A/B” coreXY notation, Z0‑Z3 = 4‑point gantry)
#####################################################################

# ---- X (B‑motor, left) -------------------------------------------------
[stepper_x]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: EBB:gpio21
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 40
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 1.4
sense_resistor: 0.110
stealthchop_threshold: 0

# ---- Y (A‑motor, right) ------------------------------------------------
[stepper_y]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: PG10
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 40
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

# ---- Z‑QUAD (Z0‑Z3) ----------------------------------------------------
#  All four Z motors share identical mechanical parameters.
#  Each has its own TMC2208 driver.
[stepper_z]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop
position_min: -8
position_max: 330
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2208 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2208 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z2]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2208 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z3]
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2208 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Extruder – StealthBurner / CW2 (Bondtech 3:1 or Galileo)
#####################################################################
[extruder]
step_pin: EBB:gpio18
dir_pin: EBB:gpio19
enable_pin: !EBB:gpio17
rotation_distance: 13.25
gear_ratio: 50:17
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: EBB:gpio7
pullup_resistor: 2200 # 2.2K
sensor_type: EPCOS 100K B57560G104F
sensor_pin: EBB:gpio26
max_power: 1.0
min_temp: 0            
max_temp: 300
min_extrude_temp: 170
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
pressure_advance: 0.06
max_extrude_only_distance: 400 #Erik added for Box Turtle AFC

[tmc2209 extruder]
uart_pin: EBB:gpio20
run_current: 0.650
stealthchop_threshold: 999999

#####################################################################
#   Bed Heater (SSR‑driven)
#####################################################################
[heater_bed]
heater_pin: PA1             # HE1 → SSR
sensor_type: Generic 3950
sensor_pin: PF3
max_power: 1.0
min_temp: 0
max_temp: 120
control: pid
pid_kp: 55.956
pid_ki: 2.361
pid_kd: 331.542
# PID values auto‑tuned; stored in SAVE_CONFIG block.

pwm_cycle_time: 0.01666     # eliminates mains flicker on dim SSRs

#####################################################################
#   Probe  (Voron TAP / TAP 2.0 wiring on the EBB)
#####################################################################
[probe]
pin: !EBB:gpio22            # NPN inductive / TAP reed‑switch
x_offset: 0
y_offset: 0
z_offset = -1.100
speed: 10
samples: 3
samples_result: median
sample_retract_dist: 3
samples_tolerance: 0.010
samples_tolerance_retries: 3

#####################################################################
#   Fans & LEDs
#####################################################################
[fan]
pin: EBB:gpio4

[heater_fan hotend_fan]
pin: EBB:gpio14
heater: extruder
heater_temp: 50.0
shutdown_speed: 0.0

[controller_fan controller_fan]
pin: PD15
max_power: 1.0
kick_start_time: 0.5
heater: heater_bed

[temperature_fan chamber]
pin: PD13
max_power: 1.0
kick_start_time: 0.5
cycle_time: 0.01
off_below: 0.15
sensor_type: Generic 3950
sensor_pin: PF5
min_temp: 0            
max_temp: 70           
target_temp: 0
control: pid
pid_kp: 40
pid_ki: 5
pid_kd: 0.01

[neopixel hotend_rgb]
pin: EBB:gpio15

[output_pin caselight]       # cabinet lights on HE2 screw‑terminal
pin: PA3
pwm: true
cycle_time: 0.0002
shutdown_value: 0.0
value: 0.06                 # idle brightness

[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: EBB:gpio27

[lis2dw]
cs_pin: EBB:gpio1
spi_bus: spi0a
axes_map: z,x,y

[resonance_tester]
probe_points: 100, 100, 20
accel_chip: lis2dw

#####################################################################
#   Homing & Gantry Level
#####################################################################
[idle_timeout]
timeout: 1800

[safe_z_home]
home_xy_position: 175,175
speed: 100
z_hop: 10

[quad_gantry_level]
gantry_corners:
    -60, -10
    410, 420
points:
    50, 25
    50, 275
    300, 275
    300, 25
speed: 100
horizontal_move_z: 20
retries: 5
retry_tolerance: 0.04
max_adjust: 20

#####################################################################
#   Bed Mesh (for TAP, large area)
#####################################################################
[bed_mesh]
speed: 300
horizontal_move_z: 10
mesh_min: 40, 40
mesh_max: 310, 310
probe_count: 5, 5
algorithm: bicubic
fade_start: 0.6
fade_end: 10.0

#####################################################################
#   Global Variables & Helper Macros
#####################################################################
[gcode_macro _km_globals]
variable_load_speed:       300      # mm/min
variable_travel_speed_xy: 12000     # mm/min
variable_travel_speed_z:   500      # mm/min
gcode:
    
    # ------- LED convenience ------------------------------------------------
[gcode_macro LED_ON]
gcode:
    SET_PIN PIN=caselight VALUE=1.0
[gcode_macro LED_OFF]
gcode:
    SET_PIN PIN=caselight VALUE=0
[gcode_macro LED_PCT_IDLE]
gcode:
    SET_PIN PIN=caselight VALUE=0.06
[gcode_macro LED_PCT_PRINT]
gcode:
    SET_PIN PIN=caselight VALUE=0.4

#####################################################################
#   Start / End / Utility Macros
#####################################################################

[gcode_macro G32]      # one‑shot: home, level, mesh‑probe centre
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32
    {% set BED_TEMP = params.BED|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER|default(195)|float %}
    {% set S_EXTRUDER_TEMP = 150|float %}
    {% set initial_tool = params.TOOL|default("0")|int %}
    G90
    G28
    QUAD_GANTRY_LEVEL
    G28 X
    G28 Y
    G0 Y250
    CLEAN_NOZZLE
    G28 Z
    G0 X175 Y225 Z30 F3600
    RESTORE_GCODE_STATE NAME=STATE_G32
    
[gcode_macro PRINT_START]      # call from slicer “start g‑code”
gcode:

    {% set BED_TEMP       = params.BED      |default(60) |float %}
     {% set EXTRUDER_TEMP  = params.EXTRUDER |default(195)|float %}


    # Heat the bed and wait until ≥ BED_TEMP
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP}
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP}

    # Heat the hotend and wait until ≥ EXTRUDER_TEMP
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER_TEMP}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP}
    
    G32                          ; home + level
    G90
    G1 Z20 F3000
    SET_GCODE_OFFSET Z=-0.175 MOVE=1
    SENSOR_ON                    ; if using filament‑run‑out board
    
    # ------------------------------------------------------------------------
    #  *** NEW COLLISION‑SAFE PRINT_END ***
    # ------------------------------------------------------------------------
[gcode_macro PRINT_END]         # call from slicer “end g‑code”
gcode:
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    M400
    G92 E0
    G1 E-5.0 F1800
    SET_GCODE_OFFSET Z=0 MOVE=1
    TURN_OFF_HEATERS
    
    {% set th       = printer.toolhead %}
    {% set lift_mm  = 20 %}
    {% set z_target = [ th.position.z + lift_mm , th.axis_maximum.z ] | min %}
    {% set x_mid    = th.axis_maximum.x / 2 %}
    {% set y_rear   = th.axis_maximum.y - 5 %}
    
    G90
    G0 Z{z_target} F6000                  ; lift first!
    G0 X{x_mid} Y{y_rear} F12000      ; park middle / rear
    
    M107
    LED_PCT_IDLE
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END

    # ------------------------------------------------------------------------
    #  *** SET ACTIVE SPOOL MACRO ***
    # ------------------------------------------------------------------------
  [gcode_macro SET_ACTIVE_SPOOL]
    gcode:
      {% if params.ID %}
      {% set id = params.ID|int %}
      {action_call_remote_method(
         "spoolman_set_active_spool",
         spool_id=id
      )}
      {% else %}
        {action_respond_info("Parameter 'ID' is required")}
      {% endif %}

  [gcode_macro CLEAR_ACTIVE_SPOOL]
    gcode:
      {action_call_remote_method(
        "spoolman_set_active_spool",
        spool_id=None
    )}
    
    #####################################################################
    #   SD‑Card & Status
    #####################################################################
[virtual_sdcard]
path: ~/printer_data/gcodes

[display_status]
[pause_resume]

#####################################################################
#   SAVE_CONFIG (autogenerated PID + mesh data live here)
#####################################################################
# DO NOT EDIT BELOW THIS LINE – Klipper will overwrite.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 76.2
#*# shaper_type_y = ei
#*# shaper_freq_y = 39.2
